/* SignIn / SignUp */
#sign-in,
#sign-up {
    margin-top: 55px;
    margin-bottom: 160px;
}

.paragraph {
    color: var(--primaryColor);
}

.label-text {
    font-weight: 500;
}

.form-control {
    border: 2px solid #52616b;
    border-radius: 8px;
    padding-left: 50px;
}

.form-label {
    color: #52616b;
    font-weight: 600;
    margin-bottom: 1.2em;
}

.form-title {
    color: #52616b;
    font-weight: bold;
    font-size: 50px;
}

.form-subtitle {
    font-weight: 400;
    font-size: 20px;
}

.sign-button {
    font-weight: 600;
    border: 2.2px solid var(--primaryColor);
    border-radius: 18px;
    width: 150px;
    color: var(--primaryColor);
}

.sign-button:hover {
    background-color: var(--primaryColor);
    color: white;
}

.horizontal-line {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.input-field {
    position: relative;
}

.input-field .form-control {
    background-color: #f0f5f9;
}

.or {
    text-align: center;
    color: #c6c6c6;
    font-weight: 500;
    position: relative;
    top: 5px;
    right: 6px;
}

.input-icon {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 18px;
    color: #a7a6a6;
}

@media (max-width: 600px) {
    .form-title {
        font-size: 40px;
    }
}

/* Reset Password */
#confirm-email,
#confirm-password {
    margin-top: 70px;
    margin-bottom: 160px;
}

.confirm-email-button {
    font-weight: 600;
    border: 2.2px solid var(--primaryColor);
    border-radius: 18px;
    width: 300px;
    color: var(--primaryColor);
}

.confirm-email-button:hover {
    background-color: var(--primaryColor);
    color: white;
}

.confirm-password-button {
    font-weight: 600;
    border: 2.2px solid var(--primaryColor);
    border-radius: 18px;
    width: 250px;
    color: var(--primaryColor);
}

.confirm-password-button:hover {
    background-color: var(--primaryColor);
    color: white;
}